<!DOCTYPE html>
<html>
<head>
  <title>Chorus - Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/chorus.js" type"text/javascript"></script>

</head>
<body>
  <div class="currUserId" style="display: none;">{{curr-user-id}}</div>
  <div class="currGroupId" style="display: none;">{{curr-group-id}}</div>
  <div class="currGroupName" style="display: none;">{{curr-group-name}}</div>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
    <header class="mdl-layout__header mdl-color--light-blue-500">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <a href="/" class="mdl-layout-title">Chorus</a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title mdl-color-text--grey-500">Chorus</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a id="my-group" class="mdl-navigation__link">My Group</a>
        <a class="mdl-navigation__link" href="/edit-profile">Edit Profile</a>
        <a id="logout" class="mdl-navigation__link">Sign Out</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <!-- PAGE CONTENT STARTS HERE -->
      <div class="main-content">

        <h1> Add New Chore </h1>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col demo-card-square mdl-card mdl-shadow--2dp add-chore-form">
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label chore-entry">
                <input class="mdl-textfield__input" type="text" id="chore-name"/>
                <label class="mdl-textfield__label" for="chore-name">Chore Name</label>
              </div>

              <div>
                <h6 class="assign-to"> Assign To:</h6>
                <table class="mdl-data-table mdl-shadow--2dp chore-entry">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Housemates</th>
                    </tr>
                  </thead>
                  <tbody>

                    {{#each housemates}}
                    <tr>
                      <td>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for={{user_id}}>
                          <input type="checkbox" id={{user_id}} class="mdl-checkbox__input" value="{{name}}"/>
                        </label>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>

              <div class="mdl-textfield mdl-js-textfield chore-entry">
                <textarea class="mdl-textfield__input" type="text" rows= "5" id="chore-description" ></textarea>
                <label class="mdl-textfield__label" for="chore-description">Description...</label>
              </div>
            </form>
            <div class="center-btn">
              <button id="done-add-chore" value={{groupId}} class="done mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--red-400">
                Done
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

</body>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>
$(document).ready(function() {
  var dialog = document.querySelector('dialog');
  dialog.close();
});
$('#close-dialog').click(function(e){
  var dialog = document.querySelector('dialog');
  dialog.close();
});
$("#done-add-chore").click(function (e) {
  var assignedToList = [];
  var choreName = $('#chore-name').val();
  var choreDescription = $('#chore-description').val();
  var groupId = $("#done-add-chore").val()

  // collect users checked
  $( ".mdl-checkbox__input" ).each(function( index ) {
    if ($(this).is(':checked')) {
      assignedToList.push({user_id: $(this).attr('id'), name: $(this).val()});
    }
  });

  if (assignedToList.length == 0) {
    //var dialog = document.querySelector('dialog');
    //$("#error-message").html('Please assign chore to a housemate.');
    //dialog.showModal();
    showFormError({title: "Error", text: "Please assign chore to a housemate."});
    return;
  } else if (choreName.length < 5) {
    showFormError({title: "Error", text: "Chore name needs to be at least 5 characters long."});
    return;
  }
  var url = "/api/chores";
  var data = { "name" : choreName,
               "description" : choreDescription,
               "assignedTo" : assignedToList,
               "group_id": groupId };
  $.post(url, data);

  // redirect back to homepage
  window.location.href = "/dashboard";

});
</script>
</html>
