<!DOCTYPE html>
<html>
<head>
  <title>Chorus - Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/chorus.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
</head>
<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
    <header class="mdl-layout__header mdl-color--light-blue-500">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <a href="/" class="mdl-layout-title">Chorus</a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">

      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/switch-groups">Switch Groups</a>
        <a class="mdl-navigation__link" href="/edit-members">Edit Members</a>
        <a class="mdl-navigation__link" href="/edit-profile">Edit Profile</a>
        <a class="mdl-navigation__link" href="/login">Sign Out</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <!-- PAGE CONTENT STARTS HERE -->
      <div class="main-content">
        <h1 class="home-title"> SD-APT</h1>
        <h3 class="home-title"> Week 1/3 - 1/9 </h3>
        <!-- My Chores button -->
        <div class="center-btn">
          <a id="show-my-chores" class="my-chores-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--lime-600">
            View My Chores
          </a>
        </div>

        <div class="mdl-grid center-items">

          <!-- UNCOMPLETED CHORES LIST -->
          <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title incomplete">
              <h2 class="mdl-card__title-text mdl-color-text--white">Uncompleted</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <ul class="mdl-list">

                {{#each uncompleted-chores}}
                <li class="show-info mdl-list__item">
                  <span id={{chore_id}} class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">navigate_next</i>
                    <a type="button" class="mdl-chip">
                      <span id={{chore_id}} class="mdl-chip__text">{{chore_name}}</span>
                    </a>
                  </span>
                </li>
                {{/each}}

                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon"> </i>
                    <a href="/add-chore" class="add-chore-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--red-400">
                      + Add Chore
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <!-- COMPLETED CHORES LIST -->
          <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title complete mdl-color--lime-800">
              <h2 class="mdl-card__title-text mdl-color-text--white">Completed</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <ul class="demo-list-icon mdl-list">

                {{#each completed-chores}}
                <li class="show-info mdl-list__item">
                  <span id={{chore_id}} class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">check_circle</i>
                    <a type="button" class="mdl-chip">
                      <span id={{chore_id}} class="mdl-chip__text">{{chore_name}}</span>
                    </a>
                  </span>
                </li>
                {{/each}}

              </ul>
            </div>
          </div>


        </main>
      </div>

    </body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
    $('.show-info').click(function (e) {
        var choreId = e.target.id;
        $.get('http://localhost:3000/api/chores/' + choreId, function(chore) {
          chore = chore[0]
          var choreName = chore.name;
          var description = chore.description;
          var assignedPeople = chore.assignedTo;
          showChore({
              title: choreName,
              text: description,
              people: assignedPeople
          })
        })

    });

    $('#show-my-chores').click(function (e) {
        var chores = ['Clean Kitchen', 'Buy Toiletry', "Refill Soap"];
        showMyChores({
            chores: chores
        });
    });
    </script>
    </html>
